git+https://github.com/balbirthomas/operator/@provider-consumer-lib#egg=ops
pymongo
semantic_version
git+https://github.com/juju-solutions/resource-oci-image/@c5778285d332edf3d9a538f9d0c06154b7ec1b0b#egg=oci-image
