{{logs_directory}}/*.log
{
    rotate {{max_rotations}}
    size {{max_log_size}}
    missingok
    notifempty
    create 0600 {{mongo_user}} {{mongo_user}}
    compress
    delaycompress
    nomail
    nocopytruncate
    sharedscripts
    postrotate
        PID=$(pgrep -f "mongod.*--logpath={{logs_directory}}/mongodb.log")
        /bin/kill -SIGUSR1 $PID
    endscript
}